{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}

{% block content %}
    <div class="container">
        <div class="header mb-4">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">{{ book.name }}</h2>
                        <p class="card-text">Автор: {{ book.author }}</p>
                        <p class="card-text">Дата публикации: {{ book.pub_date }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}